<a href="https://colab.research.google.com/github/Jozefina-Gramatikova/A-B-Test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('/exercise3_ab_test.csv')

FileNotFoundError: ignored

In [5]:
df.head(5)

   user_id  Variant  Revenue
0   562625  Control    43.34
1   935989     Test    51.05
2   676822     Test    61.13
3   933683     Test    45.85
4   967127     Test    48.10

In [8]:
df.describe()

             user_id       Revenue
count   19561.000000  19561.000000
mean   549669.679004     52.662342
std    259109.419075     16.813468
min    100016.000000     20.220000
25%    327861.000000     46.210000
50%    548916.000000     50.920000
75%    773791.000000     56.990000
max    999950.000000    951.030000

In [9]:
df[df['Variant']=='Test'].describe()

             user_id      Revenue
count    9547.000000  9547.000000
mean   548249.460773    52.406548
std    258377.210094     6.896169
min    100097.000000    35.700000
25%    330206.500000    47.260000
50%    545079.000000    51.370000
75%    770068.000000    56.480000
max    999950.000000    86.380000

In [10]:
df[df['Variant']=='Control'].describe()

             user_id       Revenue
count   10014.000000  10014.000000
mean   551023.665768     52.906208
std    259811.231099     22.511509
min    100016.000000     20.220000
25%    325779.500000     44.900000
50%    553296.500000     50.290000
75%    776331.250000     57.665000
max    999949.000000    951.030000

In [11]:
df[(df['Variant']=='Control')&(df['Revenue']<100)].describe()

             user_id       Revenue
count   10000.000000  10000.000000
mean   551138.775100     52.209803
std    259778.404479      9.286563
min    100016.000000     20.220000
25%    325861.250000     44.900000
50%    553434.500000     50.270000
75%    776391.500000     57.630000
max    999949.000000     98.770000

In [1]:
df[df['Variant']=='Test'].plot()

NameError: ignored